[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "modules/powerlevel10k"]
	path = modules/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "custom/plugins/dircolors-neutral"]
	path = custom/plugins/dircolors-neutral
	url = git@github.com:zpm-zsh/dircolors-neutral.git
