
# source $SOMEOK_ZSH/override/alien.theme.sh

source $SOMEOK_ZSH/override/powerlevel9k.theme.sh

if brew list | grep coreutils > /dev/null ; then
    COREUTILS_PATH=$(brew --prefix coreutils)
    PATH="${COREUTILS_PATH}/libexec/gnubin:$PATH"
    MANPATH="${COREUTILS_PATH}/libexec/gnuman:$MANPATH"
fi
